.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.brand-header {
	font-size: 40px;
}
.address-bar {
	font-size: 15px;
}
.brand-container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.input-field label {
 color: #000;
}
.row {
	margin: 0px;
}

.image-height {
	height: 250px;
}
.navi-top {
	position: relative;
	margin-bottom: -64px;
}
.nav-fixed {
	top: 0;
	z-index: 10;
	position: fixed;
}
.img-container {
	overflow: hidden;
	height: 200px;
	margin-top: 10px;
}
.image-gallery{
	height: 200px;
	width: auto;
}
